body {
  padding: 50px;
  background: black;
  font: 33px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: azure;
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  justify-content: space-around;
}

a {
  color: #00B7FF;
}

.mainText {
  width: 100%;
  display: flex;
  justify-content: center;
}
